In [4]:
#import JSON3
using JSON
import DataFrames
using DataFrames

In [25]:
jtable = JSON3.read(read("test.json"))
#jtable
k = collect(keys(jtable)) 

v = collect(values(jtable)) 
typeof(jtable)
equipment_col = df[!, :groups]

equipment_col[3]#["characters"]
launchers_array = String[]
max_payloads_array = Int64[]
groups_col = df[!, :groups]
groups_col
char_array = String[]
name_array = String[]

groups_col[1]df = DataFrame(jtable)

Dict{Symbol, Any} with 2 entries:
  :characters => ["Eleven", "Mike Wheeler", "Dustin Henderson", "Lucas Sinclair…
  :name       => "Party"

In [2]:
a = """{
	"groups":[{"name":"Party","characters":["Eleven","Mike Wheeler",
				"Dustin Henderson",
				"Lucas Sinclair",
				"Will Byers",
				"Max Mayfield"
			]
		},
		{
			"name":"Main",
			"characters":[
				"Jim Hopper",
				"Joyce Byers",
				"Nancy Wheeler",
				"Jonathan Byers",
				"Steve Harrington",
				"Bob Newby"
			]
		},
		{
			"name":"Upside Down",
			"characters":[
				"The Monster",
				"The Mind Flayer",
				"D'Artagnan"
			]
		},
		{
			"name":"Include",
			"characters":[
				"Dr. Sam Owens",
				"Kali",
				"Karen Wheeler",
				"Dr. Martin Brenner",
				"Officer Callahan",
				"Officer Powell",
				"Billy Hargrove",
				"Mr. Clarke",
				"Murray Bauman",
				"Terry Ives"
			]
		}
	]
}"""

"{\n\t\"groups\":[{\"name\":\"Party\",\"characters\":[\"Eleven\",\"Mike Wheeler\",\n\t\t\t\t\"Dustin Henderson\",\n\t\t\t\t\"Lucas Sinclair\",\n\t\t\t\t\"Will Byers\",\n\t\t\t\t\"Max Mayfield\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\":\"Main\",\n\t\t\t\"characters\":[\n\t\t\t\t\"Jim Hopper\",\n\t\t\t\t\"Joyce Byers\",\n\t\t\t\t\"Nancy Wheeler\",\n\t\t\t\t\"Jonathan Byers\",\n\t\t\t\t\"Steve Harrington\",\n\t\t\t\t\"Bob Newby\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\":\"Upside Down\",\n\t\t\t\"characters\":[\n\t\t\t\t\"The Monster\",\n\t\t\t\t\"The Mind Flayer\",\n\t\t\t\t\"D'Artagnan\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\":\"Include\",\n\t\t\t\"characters\":[\n\t\t\t\t\"Dr. Sam Owens\",\n\t\t\t\t\"Kali\",\n\t\t\t\t\"Karen Wheeler\",\n\t\t\t\t\"Dr. Martin Brenner\",\n\t\t\t\t\"Officer Callahan\",\n\t\t\t\t\"Officer Powell\",\n\t\t\t\t\"Billy Hargrove\",\n\t\t\t\t\"Mr. Clarke\",\n\t\t\t\t\"Murray Bauman\",\n\t\t\t\t\"Terry Ives\"\n\t\t\t]\n\t\t}\n\t]\n}"

In [11]:
typeof(a)

using JSON

#Now we can go ahead and actually use it. We can do so like this:
st_dict = JSON.parse(a)
df = DataFrame(st_dict)
groups_col = df[!, :groups]
char_array = Any[]
names_array = String[]
    
groups_col = df[!, :groups]
for i in 1:length(groups_col)
    push!(char_array, groups_col[i]["characters"])
    push!(names_array, groups_col[i]["name"])
end

#char_array[2]
#names_array

#select!(df, Not(:groups))



#df

#df[!, :characters] = char_array

df[!, :names] = names_array

#typeof(names_array)
#df

#new_df = DataFrame("names_array")

typeof(names_array)

DataFrame(:x => names_array)
DataFrame(:y => char_array)
#char_array

for i in char_array
    println(i)
    #println(i)
end


#char_array[1]

test = DataFrame([char_array], [:chars])#, [names_array[1]], [:names])
test2 = DataFrame([names_array], [:names])

Any["Eleven", "Mike Wheeler", "Dustin Henderson", "Lucas Sinclair", "Will Byers", "Max Mayfield"]
Any["Jim Hopper", "Joyce Byers", "Nancy Wheeler", "Jonathan Byers", "Steve Harrington", "Bob Newby"]
Any["The Monster", "The Mind Flayer", "D'Artagnan"]
Any["Dr. Sam Owens", "Kali", "Karen Wheeler", "Dr. Martin Brenner", "Officer Callahan", "Officer Powell", "Billy Hargrove", "Mr. Clarke", "Murray Bauman", "Terry Ives"]

4×1 DataFrame
 Row │ names
     │ String
─────┼─────────────
   1 │ Party
   2 │ Main
   3 │ Upside Down
   4 │ Include

In [19]:
#for i in char_array
    #println(i)[1]
    #println(i)
#end

char_array[1]
for i in names_array

LoadError: MethodError: no method matching *(::String, ::Int64)
Closest candidates are:
  *(::Any, ::Any, ::Any, ::Any...) at operators.jl:560
  *(::T, ::T) where T<:Union{Int128, Int16, Int32, Int64, Int8, UInt128, UInt16, UInt32, UInt64, UInt8} at int.jl:88
  *(::Union{AbstractChar, AbstractString}, ::Union{AbstractChar, AbstractString}...) at strings/basic.jl:260
  ...

In [51]:
df = DataFrame(st_dict)

4×1 DataFrame. Omitted printing of 1 columns
│ Row │ │     │ ├─────┼
│ 1   │ │ 2   │ │ 3   │ │ 4   │

In [52]:
{
	"groups":[
		{
			"name":"Party",
			"characters":[
				"Eleven",
				"Mike Wheeler",
				"Dustin Henderson",
				"Lucas Sinclair",
				"Will Byers",
				"Max Mayfield"
			]
		},
		{
			"name":"Main",
			"characters":[
				"Jim Hopper",
				"Joyce Byers",
				"Nancy Wheeler",
				"Jonathan Byers",
				"Steve Harrington",
				"Bob Newby"
			]
		},
		{
			"name":"Upside Down",
			"characters":[
				"The Monster",
				"The Mind Flayer",
				"D'Artagnan"
			]
		},
		{
			"name":"Include",
			"characters":[
				"Dr. Sam Owens",
				"Kali",
				"Karen Wheeler",
				"Dr. Martin Brenner",
				"Officer Callahan",
				"Officer Powell",
				"Billy Hargrove",
				"Mr. Clarke",
				"Murray Bauman",
				"Terry Ives"
			]
		}
	]
}

a

LoadError: syntax: { } vector syntax is discontinued around In[52]:1

In [75]:
# treat a json object of arrays or array of objects as a "table"
#jtable = jsontable("episodes.json")
jtable = JSON3.read(read("episodes.json"))

#turn json table into DataFrame
#df = DataFrame(jtable)

# turn DataFrame back into json object of arrays
#objecttable(df)

# turn DataFrame back into json array of objects
#arraytable(df)
#df

#arraytable(df)
#jtable

for i in jtable
    pop!(i)
end

#pop(i).seasonNum

#pop!(i, "seasonNum")

LoadError: MethodError: no method matching pop!(::Pair{Symbol, Any})
Closest candidates are:
  pop!(::DataStructures.BinaryHeap{T}) where T at C:\Users\NTRP\.julia\packages\DataStructures\DLSxi\src\heaps\binary_heap.jl:153
  pop!(::DataStructures.CircularBuffer) at C:\Users\NTRP\.julia\packages\DataStructures\DLSxi\src\circular_buffer.jl:71
  pop!(::OrderedCollections.LittleDict{K, V, Vector{K}, Vector{V}} where {K, V}) at C:\Users\NTRP\.julia\packages\OrderedCollections\PRayh\src\little_dict.jl:231
  ...

In [54]:
JSON3.read(jtable)
#JSON3.write(x)

LoadError: MethodError: no method matching read(::JSON3.Object{Vector{UInt8}, Vector{UInt64}})
Closest candidates are:
  read(::Union{Base.AbstractCmd, IO}; kw...) at C:\Users\NTRP\.julia\packages\JSON3\GoF7x\src\read.jl:9
  read(::StructTypes.Struct, ::Any, ::Any, ::Any, ::Any, ::Type{Any}; allow_inf, kw...) at C:\Users\NTRP\.julia\packages\JSON3\GoF7x\src\structs.jl:95
  read(::StructTypes.Struct, ::Any, ::Any, ::Any, ::Any, ::Type{NamedTuple}; kw...) at C:\Users\NTRP\.julia\packages\JSON3\GoF7x\src\structs.jl:345
  ...

In [47]:
function load_df()
    df = CSV.File("stranger-things.csv") |> DataFrame
    #tmp = split.(df.characters)
    #insertcols!(df, [n => getindex.(tmp, i) for (i, n) in
                        #enumerate([:location1, :c1, :c2, :c3, :c4, :c5])]...)
    
    #tmp = split.(df.location)
    
    #insertcols!(df, [n => getindex.(tmp, i) for (i, n) in
                        #enumerate([:city, :state])]...)
    #showall.columns(df)
    df[!, :characters]


end
load_df()

2308-element Vector{Union{Missing, String}}:
 missing
 missing
 "Elevator Scientist"
 "Elevator Scientist, The Monster"
 missing
 "Mike Wheeler, Dustin Henderson, Lucas Sinclair, Will Byers"
 "Mike Wheeler, Dustin Henderson, Lucas Sinclair, Will Byers, Karen Wheeler"
 "Mike Wheeler, Karen Wheeler, Ted Wheeler"
 "Dustin Henderson, Lucas Sinclair, Will Byers"
 "Dustin Henderson, Nancy Wheeler"
 "Mike Wheeler, Dustin Henderson, Lucas Sinclair, Will Byers"
 "Mike Wheeler, Will Byers"
 "Mike Wheeler"
 ⋮
 "Mike Wheeler"
 "Mike Wheeler, Eleven"
 "Nancy Wheeler, Dustin Henderson"
 "Will Byers, Cute Girl"
 "Lucas Sinclair, Max Mayfield"
 "Nancy Wheeler, Dustin Henderson"
 "Mike Wheeler, Eleven"
 "Lucas Sinclair, Max Mayfield"
 "Mike Wheeler, Eleven"
 missing
 missing
 "The Mind Flayer"

In [53]:
a = load_df()
split(a,",")

LoadError: MethodError: no method matching split(::Vector{Union{Missing, String}}, ::String)
Closest candidates are:
  split(::T, ::Any; limit, keepempty) where T<:AbstractString at C:\Users\NTRP\AppData\Local\Programs\Julia-1.7.3\share\julia\base\strings\util.jl:417
  split(::CategoricalValue{String}, ::Any; kwargs...) at C:\Users\NTRP\AppData\Local\Programs\Julia-1.7.3\share\julia\base\deprecated.jl:70

In [5]:
dad_died = Date(2017,7,14)
now = Date(2022,7,14)
diff = now - dad_died

1826 days

In [1]:
println("hi")

hi